<div id='left_block' class='fl_l'>
	<div id='info'>
		<div id='photo'>
			<img src='http://vk.com/u00001/a_a964f9a2.jpg'>
		</div>
	</div>
</div>

<div id='center_block' class='fl_l'>
	<div id='playlists'>

	</div>
</div>

<div id='right_block' class='fl_r'>
	<div id='folloewrs'></div>
	<div id='following'></div>
</div>