.navbar.navbar-fixed-top
	.navbar-inner
		.container
			%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
			%a.brand{href: "/"}
				Wiki
				%strong{style: 'color:#2AB2E2;'} Playlists
			.nav-collapse
				%ul.nav
					%li.active
						%a{href: "/new"} Новые
					%li
						%a{href: "/popular"} Популярные
					%li
						#player_ui
							%a#play_btn
							%a#prev_btn
							%a#next_btn
							%a#repeat_btn
					%li
						#track_info
							#artist	Roma
							%div.fl_l –
							#title test123
							#duration 4:15

				%ul.nav.pull-right
					%li.divider-vertical
					%li
						.btn-group
							%a.btn.btn-primary{href: '/sign_in'} Action
							%a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
								%span.caret
							%ul.dropdown-menu
								%li
									%a{:href => "#"} Action
								%li
									%a{:href => "#"} Another action
								%li
									%a{:href => "#"} Something else here
								%li.divider
								%li
									%a{:href => "#"} Separated link
						
			/ /.nav-collapse
	#progress_line{style:'margin-top:10px;'}
		#load
		#play
		#slider.ui-draggable
		
		
.container
	#playlists Loading..

	:javascript
		var t = [
			'http://dl.dropbox.com/u/15505476/1.mp3',
			'http://dl.dropbox.com/u/15505476/2.mp3',
			'http://dl.dropbox.com/u/15505476/3.mp3'
		]

		$(function() {
			window.App = new Playlists.Routers.PlaylistsRouter({
				playlists:#{@playlists.to_json.html_safe}
			});
			Backbone.history.start({pushState: true});

			soundManager.url = '/';
			soundManager.flashVersion = 9; // optional: shiny features (default = 8)
			//soundManager.useFlashBlock = false; // optionally, enable when you're ready to dive in
			/*
			 * read up on HTML5 audio support, if you're feeling adventurous.
			 * iPad/iPhone and devices without flash installed will always attempt to use it.
			*/

			soundManager.onready( function() {
				console.log( 'soundManager ready' );
				window.App.player = new Playlists.Models.Player();
			});
		});



%footer
	%p
		made with ♥ by
		%a{href:'http://vk.com/milushov'} roma