.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
      %img#head_loader{src: '/assets/head_loader.gif'}
      %a.brand{href: '/'} 
        Wiki
        %strong{style: 'color:#2AB2E2;'} Playlists
      .nav-collapse
        %ul.nav
          %li.active
            %a{href: "/last"} Последние
          %li
            %a{href: "/popular"} Популярные
          %li
            #player_ui
              %a#play_btn
              %a#prev_btn
              %a#next_btn
              %a#repeat_btn
              #track_info
                #name
                #duration.unselectable{data: {duration_mode: 'pos'}}
        %ul.nav.pull-right
          %li.divider-vertical
          %li
            .btn-group
              %a.btn.btn-primary{href: '/'}
                ="#{ @user_profile != -1 ? @user_profile[:user][:first_name] : 'Вы забанены :-(' }"
              %a.btn.btn-primary.dropdown-toggle{data: {toggle: 'dropdown'}}
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{href: '/settings'} Тут будут настройки
                %li.divider
                %li
                  %a{href: '/logout', data: {type: 'ext'} } Выход
            
      / /.nav-collapse
  #progress_line{style:'margin-top:10px;'}
    #load
    #play
    #slider.ui-draggable

#app.container
  %center
    %img{src: '/assets/ajax-loader.gif'}

:javascript
  var my_profile = #{@user_profile.to_json};
  var user_profile = {};
  var count_friends = #{@count_friends};

%footer
  %center
    %a{href:'http://vk.com/milushov', data: {type: 'ext'} }сделано
    с 
    %span{style: 'color:#ef0063; cursor: pointer;', rel: 'tooltip', title: 'с любовью же, к хорошей музыке'}❤