.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
      %a.brand{href: "/", onclick: 'App.navigate("", true); return false;'} 
        Wiki
        %strong{style: 'color:#2AB2E2;'} Playlists
      .nav-collapse
        %ul.nav
          %li.active
            %a{href: "/new"} Новые
          %li
            %a{href: "/popular"} Популярные  
#app.container
  .hero-unit
    %h1 wikiPlaylists
    %p Это супер сервис коллективных плейлистов, скорей заходи и слушай классные плейлисты, которые составили и отобрали для тебя опытные меломаны! (Тестовый слоган). лол
    %p
      %a.btn.btn-primary.btn-large{href: "/login#{ @return_to if @return_to}", style: 'font-size: 23px;'} Войти с помощюь аккаунта ВKонтакте!
%footer
  %center
    %a{href:'http://vk.com/milushov', data: {type: 'ext'} }сделано
    с 
    %span{style: 'color:#EF0063; cursor: pointer;', rel: 'tooltip', title: 'с любовью же, к хорошей музыке'}♥