.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
      %a.brand{href: "/", onclick: 'App.navigate("", true); return false;'} 
        Wiki
        %strong{style: 'color:#2AB2E2;'} Playlists
      .nav-collapse
        %ul.nav
          %li.active
            %a{href: "/last"} Новые
          %li
            %a{href: "/popular"} Популярные  
#app.container
  - if flash[:error]
    .alert.alert-error
      = flash[:error]
  
  %div
    .hero-unit.span5
      %h1 wikiPlaylists
      %p Это супер сервис коллективных плейлистов, скорей заходи |
      и слушай классные плейлисты, которые составили и отобрали  |
      для тебя опытные меломаны! (Тестовый слоган). лол |
      %p= link_to 'Войти с помощюь ВКонтакте!', 'auth/vkontakte',
        class: 'btn btn-primary btn-large',
        style: 'font-size: 23px;'

    #myCarousel.carousel.slide.span5
      .carousel-inner
        .item.active
          %img{:alt => "", :src => "/photos/1.jpg"}
          .carousel-caption
            %h4 First Thumbnail label
            %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        .item
          %img{:alt => "", :src => "/photos/2.jpg"}
          .carousel-caption
            %h4 Second Thumbnail label
            %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        .item
          %img{:alt => "", :src => "/photos/3.jpg"}
          .carousel-caption
            %h4 Third Thumbnail label
            %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
      %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›

%footer
  %center
    %a{href:'http://vk.com/milushov', data: {type: 'ext'} }сделано
    с 
    %span{style: 'color:#EF0063; cursor: pointer;', rel: 'tooltip', title: 'с любовью же, к хорошей музыке'}❤