.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
      %a.brand{href: "/", onclick: 'App.navigate("", true); return false;'} 
        Wiki
        %strong{style: 'color:#2AB2E2;'} Playlists
      .nav-collapse
        %ul.nav
          %li.active
            %a{href: "/new"} Новые
          %li
            %a{href: "/popular"} Популярные  
#app.container
  .hero-unit
    %h1 wikiPlaylists
    %p Это супер сервис коллективных плейлистов, скорей заходи и слушай классные плейлисты, которые составили и отобрали для тебя опытные меломаны! лол
    %p
      %a.btn.btn-primary.btn-large{href: '/login', style: 'font-size: 23px;'} Войти с помощюь аккаунта Вконтакте!
%footer
  %center
    %a{href:'http://vk.com/milushov'}сделано с ♥