<h1>Edit playlist</h1>

<form id="edit-playlist" name="playlist">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="tags"> tags:</label>
    <input type="text" name="tags" id="tags" value="<%= tags %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Playlist" />
  </div>

</form>

<a href="#/index">Back</a>