// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pw: 180px; // playlist_width



.playlist {
	background-color: #fff;
	overflow: hidden;
	padding: 5px;
	border: 1px dashed #ccc;
  display: inline-block;
	width: $pw;
  margin: 5px 3px 0 0;

  .image {
    width: 160px;
    height: 160px;
  }
}