<h1>Listing tracks</h1>

<table id="tracks-table">
  <tr>
    <th>Track</th>
    <th>Artist</th>
    <th>Title</th>
    <th>Audio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Track</a>