<h1>New track</h1>

<form id="new-track" name="track">
  <div class="field">
    <label for="track_id"> track_id:</label>
    <input type="text" name="track_id" id="track_id" value="<%= track_id %>" >
  </div>

  <div class="field">
    <label for="artist"> artist:</label>
    <input type="text" name="artist" id="artist" value="<%= artist %>" >
  </div>

  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="audio_id"> audio_id:</label>
    <input type="text" name="audio_id" id="audio_id" value="<%= audio_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Track" />
  </div>

</form>

<a href="#/index">Back</a>