<div class='track' id='<%= title %>'>
	<div class='play_btn fl_l'>
		<a class='btn btn-primary btn-small' onclick="alert('play');">play</a>
	</div>
	<div class='info fl_l'>
		<div class='atrist fl_l'>
			<%= artist %> -
		</div>
		<div class='title fl_l'>
			<%= title %>
		</div>
		<div class='duration fl_r clear'>
			<%= duration %>
		</div>
	</div>
	<div class='actions fl_l clear'>
		<div class='up fl_l'>
			<a>▲</a>
		</div>
		<div class='down clear fl_l'>
			<a>▼</a>
		</div>
	</div>
</div>