!!!
%html
	%head
		%title Playlists
		= stylesheet_link_tag"application"
		= javascript_include_tag "application"
		%script{src: 'http://vkontakte.ru/js/api/openapi.js',  type: 'text/javascript'}
		= csrf_meta_tags
		%link{ rel: "shortcut icon", href: "/assets/icon.jpg", type: "image/x-icon" }
	
	%body
		= yield
